body {
  background: #F9F9F9;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-default {
  background-color: #fff;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  z-index: 9;
}

.navbar {
  min-height: 72px;
}

.navbar .navbar-brand img {
  float: left;
  width: 174px;
}

.navbar .navbar-brand h1, .navbar h1 {
  font-size: 17px;
  line-height: 1.4;
  margin: 4px 0 4px 12px;
  color: #0093be;
  text-transform: capitalize;

}

.btn {
  text-transform: uppercase;
}

.btn-primary {
  background-color: #0695d6;
  border-color: #0695d6;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.focus,
.btn-primary.active {
  background-color: #17b2f8;
  border-color: #17b2f8;
}

.btn-success {
  background-color: #33b560;
  border-color: #33b560;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #4ecd7a;
  border-color: #4ecd7a;
}

.btn-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #85d0e7;
  border-color: #85d0e7;
}

.btn-warning {
  background-color: #fec221;
  border-color: #fec221;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #fed054;
  border-color: #fed054;
}

.btn-danger {
  background-color: #ef4d3d;
  border-color: #ef4d3d;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #f3786c;
  border-color: #f3786c;
}

.dashboard .card-title {
  font-size: 1.3rem;
  margin-bottom: 0;
  color: #0695d6;
}

.navbar-toggler {
  border: none;
}